<%- include('../partials/navbar.ejs') %>

<h2>Sign Up</h2>
<form action="/auth/sign-up" method="POST">
  <input type="text" name="username" id="username" placeholder="Username" />
  <br />
  <input type="text" name="about" id="about" placeholder="About You" />
  <br />

  <input type="password" name="password" placeholder="Password" required />
  <br />
  <input
    type="password"
    name="confirmPassword"
    placeholder="Confirm Password"
    required
  />
  <br />
  <input type="file" name="image" accept="image/*" />
  <br />
  <button type="submit">Sign Up</button>
</form>
